/* 
--primary-color: #26408b;
--secondary-color: #0f084b;
--border_radius-size: 0.5rem;
--input_font-size: 1.4rem;
--regular_font-size: 1.6rem;
--big_font-size: 2.6rem;
*/

@media (min-width: 800px) {
    /* Home */
    /* Header */
    .index_header {
        margin: 0;
        height: 75px;
        padding: 0 25px;
        background: linear-gradient(-45deg, #2f52bd, #1d1187);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .index_header .header_title a {
        color: white;
        font-size: 26pt;
        display: block;
    }

    .header__menu .header__menu--item a {
        font-size: 12pt;
        color: white;
        display: block;
        transition: all 350ms;
    }

    .header__menu .header__menu--item a:hover {
        text-decoration: underline;
    }

    main {
        padding: 0%;
    }

    /* Video */
    .main_video--container {
        height: calc(100vh - 75px);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .main_video--container h2 {
        position: absolute;
        background-color: white;
        padding: 10px;
    }

    .main_video--container video {
        border-radius: 10px;
        overflow: hidden;
        height: 60%;
        width: auto;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    }

    /* Card of cats*/
    main .cat_list--container {
        width: 50%;
        display: inline-flex;
        align-items: center;
        position: relative;
    }

    main .cat_list--container .cat_list__title {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        margin: 0;
        margin-left: 10px;
        font-weight: normal;
        font-size: 22pt;
    }

    main .cat_list--container .cat_list--content {
        display: flex;
        align-items: center;
        margin-top: 60px;
        width: 100%;
    }

    main .cat_list--container .cat_list--content article {
        height: 450px;
        width: 300px;
    }

    /* Formulario */
    main .cat_form--container {
        display: inline-flex;
        width: 50%;
        padding: 0;
        border: none;
        margin: 0;
    }
}
