@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #26408b;
    --secondary-color: #0f084b;
    --border_radius-size: 0.5rem;
    --input_font-size: 1.4rem;
    --regular_font-size: 1.6rem;
    --big_font-size: 2.6rem;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    padding: 2rem;
    width: 100vw;
}

.header_title {
    font-size: var(--big_font-size);
}

.header_title a {
    color: var(--primary-color);
    text-decoration: none;
}

.header__menu--list {
    list-style: none;
    font-size: var(--regular_font-size);
}

.header__menu--item a {
    text-decoration: none;
    color: inherit;
}

.header__menu--item a:hover {
    color: var(--secondary-color);
}

main {
    padding: 0 1rem;
}

.main_video--container video {
    width: 100%;
}

.cat_list--container {
    color: var(--primary-color);
    font-size: var(--regular_font-size);
}

.cat_list__title {
    margin: 0.5em 0;
    font-weight: normal;
    font-size: var(--big_font-size);
}

.cat_list--content {
    min-height: 100vh;
}

article {
    border-radius: var(--border_radius-size);
    box-shadow: 2px 2px 4px 1px var(--primary-color);
}

article + article {
    margin-top: 2.3rem;
}

.img_gato {
    max-width: 100%;
}

.cat_description {
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
}

.cat_description > h4 {
    margin-top: 1rem;
}

.origen_list {
    list-style: none;
    margin-bottom: 1rem;
}

.article_div--more {
    color: var(--primary-color);
    position: relative;
    left: 10;
    line-height: 1.5rem;
}

.cat_form--container {
    margin-top: 2rem;
}

.form-title {
    font-weight: var(--regular_font-size);
    font-size: var(--big_font-size);
    color: var(--primary-color);
}

.cat_form--container p {
    font-size: var(--regular_font-size);
    color: var(--secondary-color);
}

.cat_form--item {
    display: block;
    margin-bottom: 1rem;
}

.cat_form--item span {
    font-size: var(--regular_font-size);
    color: var(--primary-color);
    font-weight: bold;
}

.cat_form--item input,
.cat_form--item textarea {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border_radius-size);
    font-family: "Poppins", sans-serif;
    font-size: var(--input_font-size);
    padding: 1rem;
}

.cat_form--item input::placeholder {
    color: white;
}

input[type="submit"] {
    font-size: var(--regular_font-size);
    padding: 1rem 2rem;
    font-weight: bold;
    border: none;
    line-height: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: var(--border_radius-size);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

footer {
    margin-top: 1rem;
    height: 15vh;
    background-color: var(--primary-color);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer > p,
footer a {
    font-size: calc(var(--regular_font-size) - 0.2rem);
}

footer > p {
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:active {
    opacity: 0.8;
}

footer a:hover {
    opacity: 0.8;
}

/* Estilos de contacto */

.contact_header--title {
    color: var(--primary-color);
    font-size: var(--big_font-size);
}

.contact_menu--list {
    list-style: none;
}

.contact_menu--item a {
    text-decoration: none;
    font-size: var(--regular_font-size);
    color: var(--secondary-color);
}

.contact_main {
    padding: 0 2rem;
}

.contact_main--title {
    font-size: calc(var(--big_font-size) - 0.4rem);
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.contact_form {
    padding: 2rem 1.4rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--primary-color);
}

.contact_form--input {
    display: block;
    padding: 1rem 0;
}

.contact_form--input span {
    font-size: var(--regular_font-size);
    font-weight: bold;
    color: var(--primary-color);
}

.contact_form--input input {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--primary-color);
    font-size: var(--input_font-size);
    border-radius: var(--border_radius-size);
    font-family: inherit;
}

.contact_form--input input::placeholder {
    color: white;
}

.contact_form--button {
    margin-top: 1rem;
}

.contact_footer {
    margin-top: 2rem;
}
