@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #26408b;
    --secondary-color: #0f084b;
    --border_radius-size: 0.5rem;
    --input_font-size: 1.4rem;
    --regular_font-size: 1.6rem;
    --big_font-size: 2.6rem;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Header */

header {
    margin: 15px 10px;
}

.header_title {
    font-size: var(--big_font-size);
}

.header_title a {
    color: var(--primary-color);
    text-decoration: none;
}

.header__menu--list {
    list-style: none;
    font-size: var(--regular_font-size);
}

.header__menu--item a {
    text-decoration: none;
    color: inherit;
}

.header__menu--item a:hover {
    color: var(--secondary-color);
}

main {
    padding: 0 1rem;
}

.main_video--container video {
    width: 100%;
}

/* Cat List */

.cat_list--container {
    color: var(--primary-color);
}

.cat_list__title {
    margin: 10px 0;
    font-weight: normal;
    font-size: 16pt;
}

.cat_list--content {
    display: flex;
    height: 315px;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.cat_list--container .cat_list--content .cat_gost {
    width: 1px;
    height: 1px;
    border: 1px solid transparent;
}

article {
    scroll-snap-align: center;
    flex: 0 0 auto;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    width: 65%;
    height: 300px;
    margin: 0 10px;
}

article figure {
    background-color: rebeccapurple;
    height: 80px;
}

.img_gato {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article__info--container {
    padding: 10px;
}

.article__info--title {
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.article__info--description {
    height: 100px;
    overflow-y: scroll;
    font-size: 10pt;
}

.article__info--origin {
    height: 45px;
}

.article__info--origin h4 {
    font-size: 10pt;
}

.article__info--origin .origin_list {
    display: flex;
    margin-top: 3px;
    list-style: none;
}

.article__info--origin .origin_list li {
    background-color: #26408b;
    padding: 1px 6px;
    border-radius: 50px;
    color: white;
    margin-right: 5px;
    font-size: 7pt;
}

.article__info--more {
    height: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.article__info--more a {
    color: #26408b;
    font-size: 8pt;
}

/* Form */

.form-title {
    font-weight: normal;
    margin: 5px 0 0 0;
    font-size: 16pt;
    color: var(--primary-color);
}

.cat_form--container p {
    font-size: 11pt;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.cat_form--item {
    display: block;
    margin-bottom: 1rem;
}

.cat_form--item span {
    font-size: 12pt;
    color: var(--primary-color);
    font-weight: bold;
}

.cat_form--item input,
.cat_form--item textarea {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border_radius-size);
    font-family: "Poppins", sans-serif;
    font-size: 10pt;
    padding: 1rem;
}

.cat_form--item input::placeholder {
    color: white;
}

.index_form--submit {
    font-size: 12pt;
    padding: 1rem 2rem;
    font-weight: bold;
    border: none;
    line-height: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: var(--border_radius-size);
}

footer {
    margin-top: 1rem;
    height: 15vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer > p,
footer a {
    font-size: 11pt;
}

footer > p {
    color: white;
    text-align: center;
}

footer > p:first-child {
    display: flex;
    align-items: center;
}

footer p:first-child a {
    color: #181616;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 5px;
    justify-content: center;
}

footer p:first-child a img {
    margin-right: 3px;
    margin-top: -2px;
}

footer p:nth-child(2) {
    color: #ffffff;
}

footer p:nth-child(2) a {
    color: inherit;
}

/* Estilos de contacto */

.contact_header--title {
    color: var(--primary-color);
    font-size: var(--big_font-size);
}

.contact_menu--list {
    list-style: none;
}

.contact_menu--item a {
    text-decoration: none;
    font-size: var(--regular_font-size);
    color: var(--secondary-color);
}

.contact_main {
    padding: 0 2rem;
}

.contact_main--title {
    font-size: calc(var(--big_font-size) - 0.4rem);
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.contact_form {
    padding: 2rem 1.4rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--primary-color);
}

.contact_form--input {
    display: block;
    padding: 1rem 0;
}

.contact_form--input span {
    font-size: var(--regular_font-size);
    font-weight: bold;
    color: var(--primary-color);
}

.contact_form--input input {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--primary-color);
    font-size: var(--input_font-size);
    border-radius: var(--border_radius-size);
    font-family: inherit;
}

.contact_form--input input::placeholder {
    color: white;
}

.contact_form--button {
    margin-top: 1rem;
}

.contact_footer {
    margin-top: 3rem;
}
