* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

a {
    text-decoration: none;
}

header {
    padding: 20px;
}

.header_title a {
    color: #222;
}

.header__menu--list {
    list-style: none;
    padding: 0;
}

.header__menu--item a {
    color: #447eeb;
    font-size: 14pt;
}

.header__menu--item a:hover {
    color: #6dc6c9;
}

.header__menu--item a:active {
    color: #363636;
}

.main_video--container {
    text-align: center;
}

.main_video--container video {
    height: 300px;
    width: 350px;
}

.section__title {
    color: #447eeb;
    font-size: 18pt;
    padding: 10px;
}

article {
    border: 1px solid #447eeb;
    border-radius: 5px;
    margin: 0 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: inline-block;
}

figure,
figure + div {
    display: inline-block;
}

figure + div {
    max-width: calc(100% - 235px);
    margin-left: 10px;
}

figure figcaption {
    color: gray;
}

.img_gato {
    width: 220px;
    height: 160px;
    border: 2px solid gainsboro;
    border-radius: 4px;
}

.origen_list {
    list-style: none;
    margin-bottom: 10px;
}

.origen_list--item {
    color: #447eeb;
    padding: 1px 0;
}

article h3,
article h4 {
    color: #447eeb;
    margin-top: 15px;
}

.article_div--more {
    color: #222;
    font-size: 12pt;
}

.article_div--more:hover {
    color: #447eeb;
}

.article_div--more::before {
    content: "🍳";
}

/* Formulario del michi */

.cat_form--container {
    width: 500px;
    background-color: white;
    margin: 0 auto 0 auto;
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
}

.cat_form--container h2 {
    color: #447eeb;
    font-size: 22pt;
}

.cat_form--container p {
    font-size: 14pt;
    color: #447eeb;
}

.cat_form {
    margin-top: 20px;
}

.cat_form--item {
    display: block;
    margin-top: 10px;
}

.cat_form--item span {
    font-size: 12pt;
    color: #363636;
    font-weight: bold;
}

.cat_form--item input {
    width: 90%;
    font-size: 12pt;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #447eeb;
    color: white;
}

.cat_form--item input::placeholder {
    color: white;
}

.cat_form--item textarea {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #447eeb;
    color: white;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
    margin-top: 1rem;
    background-color: #447eeb;
    border: none;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #6dc6c9;
}

/* Footer de la pagina */

footer {
    padding: 40px 20px;
}

footer p {
    text-align: center;
    color: dimgray;
}
