/* 
--primary-color: #26408b;
    --secondary-color: #0f084b;
    --border_radius-size: 0.5rem;
    --input_font-size: 1.4rem;
    --regular_font-size: 1.6rem;
    --big_font-size: 2.6rem;
*/

@media (min-width: 600px) {
    /* Estilos del index */

    .cat_form--container {
        margin: 3rem 7rem;
        padding: 2rem;
        border: 0.1rem solid var(--primary-color);
        box-shadow: 0.2rem 0.2rem 0.4rem var(--primary-color);
        border-radius: var(--border_radius-size);
    }
}
